.sliderimg{
  width: 20%;
  /* height: 500px; */
  height: 20%;
  /* margin-top:14%; */
  margin-left: 10%;
  background-color: aqua;
  object-fit: cover
  }

.previmg{
  width: 10%;
  /* height: 500px; */
  height: 20%;
  /* margin-top:14%; */
  opacity:0.3;
  object-fit: cover
  }