.sliderimg{
  width: 60%;
    height: 500px;
    margin-top:14%;
    margin-left: 40%;
    object-fit: cover
  }

  .previmg{
    width: 20%;
    height: 500px;
    margin-top:14%;
    object-fit: cover
  }