@import "styles/variables.scss";

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main {
    padding: 1rem 0;
    width: 100%;
    flex: 1;
    color: $primary-grey-1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    h1 {
      font-family: "Lato";
    }

    .eventsContainer {
      padding: 2rem 0;
      width: 100%;
      flex: 1;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
    }
  }


}

@media (max-width: 1400px) {
  .eventCardContainer {
    padding: 3rem 0 0 0;
    align-self: center;
  }
}
