@import "styles/variables.scss";

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeVisible {
  -webkit-animation: fadeEffect 1.5s;
  animation: fadeEffect 1.5s; /* Fading effect takes 1 second */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fade {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.main {
  padding: 6rem 0 0 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;

  h1 {
    color: $primary-blue-1;
    text-align: center;
  }

  .landing {
    .titleContainer {
      text-align: left;
      align-self: flex-start;
      margin-left: 36px;
      margin-bottom: 30px;

      .title {
        font-size: 80px;
        text-align: left;
        margin: 20px 0 40px 0;
      }

      .subtitle {
        font-size: 50px;
        text-align: left;
        margin: 20px 0 40px 0;
        font-style: italic;
        color: $primary-blue-2;
        font-weight: 100;
      }
    }

    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: $primary-white-1;
    padding: 1rem;
    margin-bottom: 4rem;
    margin-left: 10rem;

    .details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .descriptionContainer {
        width: 40%;
        margin-left: 10rem;
      }

      .about {
        text-align: left;
        color: $primary-blue-2;
        font-size: $font-size-1;
        font-weight: $font-weight-regular;
        line-height: 0;
      }

      .text {
        text-align: left;
        font-size: $font-size-1;
        font-weight: $font-weight-regular;
        color: $primary-grey-1;
        line-height: 1.5;
      }
    }

    .logo {
      width: 10%;
    }
  }

  .aboutUs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5rem;

    .descriptionContainer {
      width: 60%;
    }
  }

  .ourTeam {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    margin-bottom: 5rem;

    h1 {
      margin-bottom: 2;
    }

    .underline {
      border-bottom: 10px solid $primary-blue-2;
      width: 160px;
      opacity: 0.5;
    }

    .textContainer {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      text-align: left;
      margin-right: 100px;

      p {
        color: $primary-grey-1;
      }
    }

    .cardsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;
      column-gap: 20px;
      width: 40%;
      justify-items: center;

      .cardContainer {
        display: flex;
        align-self: center;
        width: 100%;
        height: 100%;
      }
    }
  }

  .contactUs {
    height: 700px;
    width: 100%;
    display: flex;
    position: relative;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    padding-top: 24px;
    flex-direction: column;

    h1 {
      color: $primary-white-1;
    }

    .iconTextContainer {
      display: flex;
      flex-direction: row;
      margin-top: 6px;
      text-align: left;

      p {
        color: $primary-white-1;
        margin: 0;
      }

      .icon {
        color: $primary-white-1;
        margin-right: 12px;
        margin-top: 2px;
        height: 18px;
      }
    }

    form {
      margin-top: 40px;

      p {
        margin-top: 4px;
        font-size: small;
        color: rgb(182, 26, 26);
      }

      .inputContainer {
        margin: 8px 0 8px 0;

        .input {
          outline: none;
          width: 100%;
          height: 30px;
          background: rgba(115, 123, 125, 0.7);
          color: $primary-white-1;
          border: none;
          padding: 16px;
        }

        .input::placeholder {
          color: $primary-white-1;
        }

        .input:focus::placeholder {
          color: transparent;
        }

        .input:-internal-autofill-selected {
          background-color: transparent;
        }

        .inputArea {
          font-family: "Lato";
          outline: none;
          resize: none;
          width: 100%;
          height: 90px;
          background: rgba(115, 123, 125, 0.7);
          color: $primary-white-1;
          border: none;
          padding: 8px 16px 16px 16px;
        }

        .inputArea::placeholder {
          color: $primary-white-1;
        }

        .inputArea:focus::placeholder {
          color: transparent;
        }
      }

      .submitButton {
        outline: none;
        margin-top: 30px;
        width: 120px;
        height: 30px;
        color: $primary-white-1;
        font-size: small;
        font-weight: $font-weight-light;
        border: none;
        align-self: center;
        background: rgba(115, 123, 125, 0.7);
      }
    }
  }

  .contactUs::after {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../../public/images/NUS_SOC.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.8;
  }

  .sponsors {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;

    .images {
      max-width: 160px;
      height: auto;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
    }

    .column {
      float: left;
      width: 33.33%;
      padding: 10px;
    }
  }
}

@media (max-width: 769px) {
  .main {
    padding: 0 0 0 0;

    .landing {
      margin-left: 70px;
      margin-bottom : 10px;

      .titleContainer {
        margin: 70px 0px 0px 0px;
      }

      .aboutUs {
        margin-bottom: 10px;

        .descriptionContainer {
          width: 100%;
          margin-left: 20px;
        }
      }

      .exco {
        margin-top: 1rem;
        width: 100%;
      }
    }

    .ourTeam {
      flex-direction: column;

      .textContainer {
        text-align: left;
        width: 30%;
        margin-right: 0px;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
      }

      .cardsContainer {
        width: 100%;
      }
    }

    .contactUs {
      .iconTextContainer {
        margin-left: 20px;
        text-align: left;
      }
    }
  }
}
