@import "styles/variables.scss";

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: $primary-grey-1;
    font-family: "Lato";
  }

  .landing {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 5rem;

    .details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: $font-size-4;
        color: $primary-blue-1;
        font-weight: $font-weight-regular;
        font-style: italic;
      }
    }

    .logo {
      width: 60%;
    }

    .exco {
      width: 40%;
    }
  }

  .aboutUs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5rem;

    .descriptionContainer {
      width: 55%;
    }
  }

  .ourTeam {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5rem;

    .cardsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;
      width: 100%;
      justify-self: center;
      justify-content: center;
      align-items: center;
      align-self: center;

      .cardContainer {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 769px) {
  .main {
    padding: 0 0 0 0;

    .landing {
      .exco {
        margin-top: 1rem;
        width: 100%;
      }
    }
  }
}
