@import "styles/variables.scss";

.navbar {
  background: $primary-white-1;
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  z-index: 1;
}

.image {
  width: 100px;
}

.navbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navbar_logo {
  font-family: "Lato";
  padding-left: 4rem;
}

.navbar_logo a {
  color: black;
  text-decoration: none;
  font-size: 2;
}

.navbar_items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar_items li {
  padding: 0 1rem;
  font-family: "Lato";
}

.spacer {
  flex: 1;
}

.navbar_items a {
  color: black;
  text-decoration: none;
}

.navbar_items a:hover,
.navbar_items a:active {
  color: $primary-grey-1;
}

@media (max-width: 768px) {
  .navbar_items {
    display: none;
  }

  .navbar_logo {
    position: absolute;
    right: 0;
  }
}

@media (min-width: 769px) {
  .navbar_toggle_button {
    display: none;
  }

  .navbar_logo {
    margin-left: 0;
  }
}
