@import "styles/variables.scss";
.event{
     width:100%;
    

    .rightbutton{
      float: center;
      // background-color: #A8ACAE;
      border: none;
      color:white;
      padding:5px;
      // margin-top:5px;
      
        margin-top: 1rem;
        background-color: $primary-blue-1;
        color: $primary-white-1;
      
    }

    .timelineheader{
      color:#54585A;
    }

    .icon{
      background-color:#A8ACAE;
    }
  }