.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  width: 100%;
  p {
    color: white;
  }
}

.row {
  display: flex;
  justify-content: center;
  color:  white;
}

.row li {
  list-style-type: none;
  margin-left: 1rem;
}

.trademark{ 
  font-size: xx-small;
  display: flex;
  justify-content: center;
  color:  white;
}

.trademark span {
  margin-left: 0.5rem;
  font-family: "Lato";
}


.row li:hover,
.row li:active {
  color: rgb(87, 87, 87);
}
