@import "styles/variables.scss";

.footer {
  background-color: $primary-grey-1;
  display: flex;
  justify-content: center;
  margin-top: auto;
  height: auto;
  align-items: center;
  width: 100%;
  p {
    color: white;
  }
}

.icon {
  width: 36px;
  height: 36px;
}

.row {
  display: flex;
  justify-content: center;
  color: white;
  padding: 3px 0 3px 0;
}

.row li {
  list-style-type: none;
  margin-left: 1rem;
}

.trademark {
  font-size: xx-small;
  display: flex;
  justify-content: center;
  color: white;
}

.trademark span {
  margin-left: 0.5rem;
  font-family: "Lato";
}

.row li:hover,
.row li:active {
  color: rgb(87, 87, 87);
}
