
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.layout {
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: 'Lato';
    padding-top: 5%;
  }

.title{
  text-align: center;
  font-size: 1.5vw;
}

.container {
  background-color:#ededed;
  flex-basis:50%;
  box-sizing:border-box;
  margin: 10px;
  position:relative;
}

.flex{
  display:flex;
  height:35vh;
}

.image{
  position:absolute;
  width:30%;/*image width*/
  height:50%;/*image height*/
  bottom:0px;
  background: url("/blockchain.jpg") no-repeat;
}

.imageleft{
  position:absolute;
  width:30%;/*image width*/
  height:50%;/*image height*/
  bottom:0px;
  right:0px;
  background: url("/blockchain.jpg") no-repeat;
}

.line{
  width:30%;
  margin-left: 10px;
}

.lineright{
  width:30%;
  margin-right: 10px;
  text-align: right;
}

.blank{
  flex-basis:10%;
}

.boxtitle{
  font-size: 1.5vw;
  margin-left: 10px;
}

.boxbody{
  font-size: 1.5vw;
  margin: 10px;
}

.boxbodyright{
  font-size: 1.5vw;
  margin: 10px;
  text-align: right;
}

.boxtitleright{
  font-size: 1.5vw;
  text-align: right;
  margin-right: 10px;
}



@media only screen and (max-width: 500px){
  .flex{
    display:flex;
    height:15vh;
  }
  .layout {
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: 'Lato';
    padding-top: 12%;
  }
 
}


@media only screen and (max-width: 800px){
  .flex{
    display:flex;
    height:18vh;
  }
  .layout {
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: 'Lato';
    padding-top: 12%;
  }
}

@media only screen and (min-width: 1200px){
  .flex{
    display:flex;
    height:40vh;
  }
  .layout {
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: 'Lato';
    padding-top: 5%;
  }
}

@media only screen and (min-width: 1800px){
  .flex{
    display:flex;
    height:40vh;
  }
  .layout {
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: 'Lato';
    padding-top: 5%;
  }
}


.SlickCarousel {
  text-align: center;
  /* width: 70%; */
  margin-left: 20%;
}
 
.SlickCarousel-logo {
  height: 40vmin;
}
 
.SlickCarousel-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 
.SlickCarousel-link {
  color: #09d3ac;
}
 
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}


.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}

.next-slick-arrow,
.prev-slick-arrow {
  color: #000000;
  font-size: 48px;
}

/*This below is from the previos alice carousel part*/


.previmg{
height: 20%;
width: 20%;
opacity:0.3;
position: absolute;
object-fit: cover
}

.sliderimg{
  /* height: 500px; */
width: 60%;
height: 60%;
margin-top:4%;
margin-left: 10%;
background-color: aqua;
object-fit: cover;
}


.projectcontainer {
margin-top: 64px;
margin-left: 64px;
}

.carouselcontainer {
/* border: 3px solid black; */
float: left;
width: 40%;
}

.detailcontainer {
/* display: inline; */
/* border: 3px solid black; */
float: left;
width: 55%;
margin-left: 5%;
}

.detailcontainerleft {
/* display: inline; */
/* border: 3px solid black; */
float: left;
width: 55%;
margin-right: 5%;
}

.projecttitle {
/* width: 70%; */
text-align: left;
/* margin-top: 10%; */
/* border: 3px solid red; */
}

.underscore {
float:left;
width:30%;
margin-top: 10%;
border: 3px solid blue;
text-align:justify;
text-justify: distribute;
}

.projectbody {
margin-top: 5%;
/* border: 3px solid blue; */
text-align: left;
font-weight: lighter;

}

.projectrow {
margin-top: 15%;
position: relative;
border: solid yellow;
}
