
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Lato';
  }


.title{
  text-align: center;
  font-size: 1.5vw;
}

.container {
  background-color:#ededed;
  flex-basis:40%;
  box-sizing:border-box;
  margin: 10px;

}

.flex{
  display:flex;
  height:35%;
}

// .image{
//   width:40%;
//   height:40%;
//   margin-left:auto;
//   background-color: dimgray;
//   position:relative;
//   bottom:0;
//   background-color: dimgray;

// }

.blank{
  flex-basis:10%;
}

.boxtitle{
  font-size: 1.5vw;
  margin-left: 10px;
}

.boxbody{
  font-size: 1.5vw;
  margin: 10px;
}

.boxbodyright{
  font-size: 1.5vw;
  margin: 10px;
  text-align: right;
}

.boxtitleright{
  font-size: 1.5vw;
  text-align: right;
  margin-right: 10px;
}


@media only screen and (max-height: 500px){
  .flex{
    display:flex;
    height:25%;
  }
}

@media only screen and (max-height: 1200px){
  .flex{
    display:flex;
    height:20%;
  }
}


@media only screen and (min-width: 500px){
  .flex{
    display:flex;
    height:30%;
  }
}

@media only screen and (min-width: 800px){
  .flex{
    display:flex;
    height:30%;
  }
}

@media only screen and (min-width: 1200px){
  .flex{
    display:flex;
    height:40%;
  }
}