
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.layout {
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: 'Lato';
    padding-top: 5%;
  }



.title{
  text-align: center;
  font-size: 1.5vw;
}

.container {
  background-color:#ededed;
  flex-basis:50%;
  box-sizing:border-box;
  margin: 10px;
  position:relative;
}

.flex{
  display:flex;
  height:35vh;
}

.image{
  position:absolute;
  width:30%;/*image width*/
  height:50%;/*image height*/
  bottom:0px;
  background: url("/blockchain.jpg") no-repeat;
}

.imageleft{
  position:absolute;
  width:30%;/*image width*/
  height:50%;/*image height*/
  bottom:0px;
  right:0px;
  background: url("/blockchain.jpg") no-repeat;
}

.line{
  width:30%;
  margin-left: 10px;
}

.lineright{
  width:30%;
  margin-right: 10px;
  text-align: right;
}

.blank{
  flex-basis:10%;
}

.boxtitle{
  font-size: 1.5vw;
  margin-left: 10px;
}

.boxbody{
  font-size: 1.5vw;
  margin: 10px;
}

.boxbodyright{
  font-size: 1.5vw;
  margin: 10px;
  text-align: right;
}

.boxtitleright{
  font-size: 1.5vw;
  text-align: right;
  margin-right: 10px;
}



@media only screen and (max-width: 500px){
  .flex{
    display:flex;
    height:15vh;
  }
  .layout {
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: 'Lato';
    padding-top: 12%;
  }
 
}


@media only screen and (max-width: 800px){
  .flex{
    display:flex;
    height:18vh;
  }
  .layout {
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: 'Lato';
    padding-top: 12%;
  }
}

@media only screen and (min-width: 1200px){
  .flex{
    display:flex;
    height:30vh;
  }
  .layout {
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: 'Lato';
    padding-top: 5%;
  }
}

@media only screen and (min-width: 1800px){
  .flex{
    display:flex;
    height:40vh;
  }
  .layout {
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: 'Lato';
    padding-top: 5%;
  }
}