@import "styles/variables.scss";
@import "react-big-calendar/lib/sass/styles";

.calendar {
  height: 60vh;
  width: 90vh;
}

.eventView {
  font-family: "Lato";
  font-size: $font-size-1;

  p {
    margin: 0;
    padding: 0;
  }
}

.toolbar {
  padding: 3px 3px 3px 5px;
  width: 400px;

  .labelContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .label {
      font-size: $font-size-5;
      font-family: "Lato";
      font-weight: $font-weight-dark;
      color: $primary-grey-1;

      span {
        font-weight: $font-weight-light;
      }
    }
  }
}

@media (max-width: 850px) {
  .calendar {
    width: 300px;
  }

  .toolbar {
    width: 300px;

    .labelContainer {
      .label {
        font-size: $font-size-4;
      }
    }
  }
}
