// ======= Colors ========

// black
$primary-black-1: #404040;

// white
$primary-white-1: #ffffff;

// grey
$primary-grey-1: #737B7D;

// blue
$primary-blue-1: #1F2C42;

// ========= Fonts ===========

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-dark: 900;

$font-size-0: 10px;
$font-size-1: 13px;
$font-size-2: 15px;
$font-size-3: 20px;
$font-size-4: 24px;
$font-size-5: 30px;
$font-size-6: 35px;
$font-size-7: 40px;
$font-size-8: 45px;
$font-size-9: 50px;
